<div class="file-tree-editor">
    <form data-dojo-type="dijit/form/Form">
        <button 
            data-dojo-type="dijit/form/Button" 
            data-dojo-attach-point="newButton" 
            data-dojo-attach-event="onClick: onNew">
			+
        </button>
        <button 
            data-dojo-type="dijit/form/Button" 
            data-dojo-attach-point="editButton" 
            data-dojo-attach-event="onClick: onEdit">
            Edit
        </button>
        <button 
            data-dojo-type="dijit/form/Button" 
            data-dojo-attach-point="exportButton" 
            data-dojo-attach-event="onClick: onExport">
            Export
      </button>
  </form>
</div>