<div> 
	<form data-dojo-attach-point="formNode">
        <input name="name" 
        	data-dojo-type="dijit/form/TextBox" 
        	data-dojo-attach-point="nameInput" />
        <select name="type" 
        	data-dojo-type="dijit/form/Select" 
        	data-dojo-attach-point="typeSelector" />
            <option value="folder">
            	Folder
            </option>
            <option value="file">
            	File
            </option>
        </select>
        <button data-dojo-type="dijit/form/Button" 
        	data-dojo-attach-event="onClick: onSave">
            OK
        </button>
    </form>
</div>